body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.circle {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    border-radius: 50%;
    width: 3vw;
    height: 3vh;
}

/* Main container */

#container {
    background-color: #cac7c2;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    justify-content: center;
    height: 77vh;
    width: 35vw;
    margin: 0;
    border-radius: 2% 2% 12% 2%;
    box-shadow: 0 6px 10px 0 rgb(102, 101, 101);
}

/* Top */

    /* Top of the console with frame lines */

#container-top {
    display: flex;
}

        /* <ON-OFF> circled is here! */

#container-top-left {
    justify-content: left;
    width: 3.5vw;
    height: 4vh;
    border-bottom: 3px solid #b3b0b0;
}

#container-top-midd {
    margin: 0;
    width: 28vw;
    height: 4vh;
    display: flex;
    border-bottom: 3px solid #b3b0b0;
    border-right: 3px solid #b3b0b0;
    border-left: 3px solid #b3b0b0;
}

#container-top-midd-1 {
    display: flex;
    justify-content: center;
    height: 1.5vh;
    border-radius: 30px;
    margin-left: 1vw;
    background-color: #d6d1d1;
    margin-top: 4px;
    box-shadow: inset 1px 1px;
}

#container-top-midd-1-onoff {
    font-size: 0.8vw;
    color: #b3b0b0;
    margin-top: 1px;
    text-shadow: 4px black;
    
}

#container-top-right {
    justify-content: right;
    width: 3.5vw;
    height: 4vh;
    border-bottom: 3px solid #b3b0b0;
}

/* Midd */

    /* Screen container */

#container-midd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 35vw;
}

        /* Main Screen */

#container-midd-screen {
    background-color: #707d86;
    border: 2px solid #727479;
    border-radius: 3% 3% 12% 3%;
    width: 27vw;
    height: 27vh;
}

    /* Line logos and text above the screen */

#container-midd-screen-top {
    width: 25vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    margin-left: 7px;
}

#container-midd-screen-top-1 {
    width: 7vw;
    margin-right: 4px;
}

#purple {
    background-color: #8c4d8e;
}

#blue {
    background-color: #3e4b95;
}

hr {
    height: 4px;
    border: none;
}

#container-midd-screen-top-2 {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-midd-screen-top-2-txt {
    font-size: 9px;
    color: #ced0d1;
}

#container-midd-screen-top-3 {
    width: 5vw;
    margin-left: 4px;
}

        /* Battery power led and text */

#container-midd-screen-center-left{
    width: 2.5vw;
    height: 20vh;
    margin-left: 7px;
}

            /* Power led */

#container-midd-screen-center-left-led {
    height: 10vh;
    display: flex;
    justify-content: center;
}

#container-midd-screen-center-left-led-logo {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    width: 7px;
    height: 7px;
    border: 1px solid #e72b2b;
    box-shadow: 0px 0px 5px 2px #e72b2b;
    border-radius: 100%;
    margin-top: 8.4vh;
    margin-right: 5px;
}

            /* Battery text */

#container-midd-screen-center-left-battery {
    display: flex;
    height: 10vh;
    align-items: Top;
    justify-content: center;
}

#container-midd-screen-center-left-battery-txt{
font-size: 11px;
    color: #ced0d1;
}
        /* TV */

#container-midd-screen-center {
    display: flex;
}

#container-midd-screen-center-main {
    background-color: #c4b668;
    width: 20vw;
    height: 20vh;
    margin-left: 7px;
    box-shadow: inset 0 0 4px 4px #857b47;
}

/* Bot */

#container-bot {
    height: 40.7vh;
    width: 35vw;
}

    /* Logos */

#container-bot-logos {
    width: 35wv;
    height: 5vh;
    display: flex;
    color: #252f7e;
}

#container-bot-logos-nintendo {
    margin-left: 50px;
    margin-top: 11px;
    font-family: Pretendo;
}

#container-bot-logos-gameboy {
    font-family:"Comic Sans MS";
    font-size: 23px;
    margin-left: 2px;
}

#tm {
    font-family:"Comic Sans MS";
    font-size: xx-small;
    margin-top: 16px;
}

    /* Buttons */

#container-bot-1 {
    width: 35vw;
    height: 23vh;
    display: flex;
}

        /* Arrows */

#container-bot-1-movement {
    width: 17.5vw;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-bot-1-movement-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(209, 206, 206, 0.5);
    width: 13vw;
    height: 13vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
    border-radius: 50%;
    margin-left: 1vw;
    box-shadow: inset 1px 1px 1px 1px rgb(117, 116, 116);
}

#container-bot-1-movement-arrows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 10vw;
    height: 10vh;
}

#container-bot-1-movement-arrows-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 5px 5px 5px 5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: none;
    border-bottom: none;
    box-shadow: inset 1px 1px 1px 1px rgb(117, 116, 116);
}

#container-bot-1-movement-arrows-horizontal-circle {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 2.7vw;
    height: 2.7vh;
    color: red;
    z-index: 1;
    border-radius: 50%;
}

#container-bot-1-movement-arrows-vertical {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    grid-column: 1/4;
    grid-row: 2/3;
    border-radius: 5px 5px 5px 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    box-shadow: inset 1px 0px 1px 0px rgb(117, 116, 116);
}


        /* Action */

#container-bot-1-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5vw;
    height: 23vh;
    transform: rotate(-23deg);
}

#container-bot-1-action-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 7vh;
    border: 1px solid rgba(153, 152, 152, 0.5);
    border-radius: 50px;
    margin-left: 4vw;
    box-shadow: inset 0px 1px 1px 1px rgb(117, 116, 116);
}

#container-bot-1-action-circle-b {
   margin-right: 0.8vw;
}

#container-bot-1-action-circle-a {
    
}

.buttons {
    background-image: linear-gradient(to top, #860d28 0%, #b9605c 100%);
    width: 4vw;
    height: 5.3vh;
    border-radius: 50px;
    box-shadow: 1px 2px 2px 0px;
    border: 1px solid#914354;
}

#container-bot-1-action-txtbox {
    display: flex;
    width: 4vw;
    height: 4vh;
    margin-left: 6.5vw;
    margin-top: 0.6vh;
    color: #1f2b85;
    font-size: 14px;
    font-family: pretendo;
}

#container-bot-1-action-circle-atxt {
    margin-left: 4vw;
}

        /* Select and Start */

#container-bot-2 {
    display: flex;
    justify-content: center;
    width: 35vw;
    height: 5.5vh;
}

#container-bot-2-buttons {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 4vh;   
}

.buttons-bot {
    background: linear-gradient(-180deg, #73787c 0%, #a4b1c2 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    width: 4.5vw;
    height: 1.5vh;
    border-radius: 30px;
}

#container-bot-2-buttons-circle1 {
    margin-right: 10px;
}

.circle-bot {
    width: 5.5vw;
    height: 2.6vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-23deg);
    background-color: #c7c3be;
    box-shadow: inset 1px 1px 0px 1px rgb(110, 110, 110);
}

#container-bot-2-buttons-txt {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 4vh;
    margin-left: 25px;
}

#container-bot-2-buttons-txt-select {
    margin-right: 25px;
    margin-bottom: 10px;
}

.txt-select-start {
    transform: rotate(-23deg);
    font-size: 14px;
    color: #1f2b85;
    font-family: pretendo;
}

#container-bot-2-buttons-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Speakers */

#container-bot-3{
    display: flex;
    justify-content: end;
    
    width: 35vw;
    height: 7vh;
}

#container-bot-3-speaker {
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    transform: rotate(-23deg);
    margin-bottom: 20px;
}

.lines {
    border: 1px solid rgb(119, 119, 119);
    width: 0.4vw;
    height: 6vh;
    margin-left: 8px;
    border-radius: 30px;
    box-shadow: inset 1px 0px 3px 1px rgb(110, 110, 110);
}

